body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width: 200px;
} 
button {
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    color:#e5e7eb
}

.header,
.footer {
    background-color: #1F2937;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    flex: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
}

.bottom {
    display: flex;
    align-items: center;
}

.right,
.left {
    display: flex;
    flex-wrap: wrap;
    padding: 48px;
    flex-direction: column;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 48px;
}

.boxes {
    display: flex;
    flex: 1 1 auto;
    border: 5px solid lightblue;
    padding: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    width: 200px;
    border-radius: 4px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb ;
   
}

.citat {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;

}


.author {
    font-weight: bold;
}